In [1]:
import pandas as pd

In [2]:
engaged_df = pd.read_csv("takehome_user_engagement.csv")
engaged_df.head().T

,0,1,2,3,4
time_stamp,2014-04-22 03:53:30,2013-11-15 03:45:04,2013-11-29 03:45:04,2013-12-09 03:45:04,2013-12-25 03:45:04
user_id,1,2,2,2,2
visited,1,1,1,1,1

In [3]:
engaged_df.describe()

             user_id   visited
count  207917.000000  207917.0
mean     5913.314197       1.0
std      3394.941674       0.0
min         1.000000       1.0
25%      3087.000000       1.0
50%      5682.000000       1.0
75%      8944.000000       1.0
max     12000.000000       1.0

In [4]:
engaged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null object
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

There are no missing values in this dataframe.

In [5]:
users_df = pd.read_csv('takehome_users.csv', encoding='latin-1')
users_df.head().T

,0,1,2,3,4
object_id,1,2,3,4,5
creation_time,2014-04-22 03:53:30,2013-11-15 03:45:04,2013-03-19 23:14:52,2013-05-21 08:09:28,2013-01-17 10:14:20
name,Clausen August,Poole Matthew,Bottrill Mitchell,Clausen Nicklas,Raw Grace
email,AugustCClausen@yahoo.com,MatthewPoole@gustr.com,MitchellBottrill@gustr.com,NicklasSClausen@yahoo.com,GraceRaw@yahoo.com
creation_source,GUEST_INVITE,ORG_INVITE,ORG_INVITE,GUEST_INVITE,GUEST_INVITE
last_session_creation_time,1.39814e+09,1.39624e+09,1.36373e+09,1.36921e+09,1.35885e+09
opted_in_to_mailing_list,1,0,0,0,0
enabled_for_marketing_drip,0,0,0,0,0
org_id,11,1,94,1,193
invited_by_user_id,10803,316,1525,5151,5240

In [6]:
users_df.describe()

,object_id,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
count,12000.00000,8.823000e+03,12000.000000,12000.000000,12000.000000,6417.000000
mean,6000.50000,1.379279e+09,0.249500,0.149333,141.884583,5962.957145
std,3464.24595,1.953116e+07,0.432742,0.356432,124.056723,3383.761968
min,1.00000,1.338452e+09,0.000000,0.000000,0.000000,3.000000
25%,3000.75000,1.363195e+09,0.000000,0.000000,29.000000,3058.000000
50%,6000.50000,1.382888e+09,0.000000,0.000000,108.000000,5954.000000
75%,9000.25000,1.398443e+09,0.000000,0.000000,238.250000,8817.000000
max,12000.00000,1.402067e+09,1.000000,1.000000,416.000000,11999.000000

In [7]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

There are null values in 'last_session_creation_time' and 'invited_by_user_id'.

In [8]:
engaged_df.time_stamp = pd.to_datetime(engaged_df['time_stamp'])
users_df = engaged_df.user_id.unique()

In [9]:
adoption_list = []
for i in users_df:
    df = engaged_df[engaged_df.user_id == i].reset_index().sort_values(by='time_stamp')
    status = False
    if len(df) < 3:
        pass
    else: 
        for j in range(0, len(df)-2): 
            time_diff = df.time_stamp[j+2] - df.time_stamp[j]
            date1 = df.time_stamp[j].date()
            date2 = df.time_stamp[j+1].date()
            date3 = df.time_stamp[j+2].date()
            if (time_diff < pd.Timedelta('7 days')) & (date1 != date2) & (date2 != date3):
                status = True
            else:
                pass
    adoption_list.append(status)

In [10]:
adopted_df = pd.DataFrame({'user_id2': users_df, 'adopted': adoption_list})
adopted_df.head()

   adopted  user_id2
0    False         1
1     True         2
2    False         3
3    False         4
4    False         5

In [11]:
adopted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8823 entries, 0 to 8822
Data columns (total 2 columns):
adopted     8823 non-null bool
user_id2    8823 non-null int64
dtypes: bool(1), int64(1)
memory usage: 77.6 KB

In [13]:
df = engaged_df.merge(adopted_df, left_on='user_id', right_on='user_id2', how='outer')
df.head()

           time_stamp  user_id  visited  adopted  user_id2
0 2014-04-22 03:53:30        1        1    False         1
1 2013-11-15 03:45:04        2        1     True         2
2 2013-11-29 03:45:04        2        1     True         2
3 2013-12-09 03:45:04        2        1     True         2
4 2013-12-25 03:45:04        2        1     True         2

In [14]:
df.drop(['user_id2'], axis=1, inplace=True)
df.head()

           time_stamp  user_id  visited  adopted
0 2014-04-22 03:53:30        1        1    False
1 2013-11-15 03:45:04        2        1     True
2 2013-11-29 03:45:04        2        1     True
3 2013-12-09 03:45:04        2        1     True
4 2013-12-25 03:45:04        2        1     True

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207917 entries, 0 to 207916
Data columns (total 4 columns):
time_stamp    207917 non-null datetime64[ns]
user_id       207917 non-null int64
visited       207917 non-null int64
adopted       207917 non-null bool
dtypes: bool(1), datetime64[ns](1), int64(2)
memory usage: 6.5 MB

In [16]:
df['adopted'].value_counts()

True     197918
False      9999
Name: adopted, dtype: int64

In [17]:
print(len(engaged_df.user_id.unique()))

8823

From the adopted_df.info() we can see there are 1602 total values of True for what are considered adopted users. There are 12000 values in the users_df but we want to use the number of unique values for user_id from engaged_df. This gives us 1602/8823 to determine the percentage of total users that Relax can consider as adopted. This makes for 18.157%.

Now we will see which factors best predict whether a user will be 'adopted' or not. Since our target variable, 'adopted', is labelled, we will use a supervised algorithm and classifier.

In [18]:
users_df['adopted'] = users_df.object_id.isin(unique_users)

AttributeError: 'numpy.ndarray' object has no attribute 'object_id'

In [19]:
df2 = adopted_df.merge(users_df, left_on='user_id2', right_on='object_id', how='outer')

ValueError: can not merge DataFrame with instance of type <class 'numpy.ndarray'>

Due to the errors in the latter two cells, I cannot find a way to take the exercise further. The users_df needs to be merges with the adopted_df to use the adopted values as the target variable for any predictor. Since they will not merge without some method that I cannot find after more trail-and-error than the last two cells, I end my response to the Relax Take Home Data Challenege here. I've left the errors so that someone else can take a look and learn from them or possibly recommend some solutions to me.